<h1>Listing forms</h1>

<table>
  <thead>
    <tr>
      <th>Useful information</th>
      <th>Suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead> 
</table>
<br>
<%= link_to 'New Form', new_form_path %>
